@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CookingWithJoe">
<head>
    <title></title>
    <meta charset="utf-8" />
    <base href="/" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.amelia.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cooking With Joe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ng-view></ng-view>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cooking With Joe</p>
        </footer>
    </div>

@*<a href="/login" ng-show="!account.isLoggedIn()">login</a>
    <a href="#" ng-show="account.isLoggedIn()">logout</a>*@



<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>

<script src="~/ngApp/app.js"></script>
<script src="~/ngApp/controllers.js"></script>
</body>
</html>